<div class="col-md-12">
    <h1>Üdvözlünk {{currentUser.firstName}}!</h1>

    

    <h3> <b>Elérhető részvények:</b> </h3>

    <table>
        <tr>
            <th>Név</th>
            <th>Ár</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let s of stocks">
            <td style="padding: 8px"> {{ s.stockname }} </td>
            <td align="right"> {{ s.price }} </td>
            <td>  <input [(ngModel)]="inputAmount" type="money"> </td>
            <td> <button (click)="buyStocks(currentUser.username, s.stockname, true)"> Vásárlás</button> </td>
            <td> <button (click)="buyStocks(currentUser.username, s.stockname, false)" > Eladás </button> </td>
        </tr>
    </table>

    <h3> <b>Részvényeid:</b></h3>
    <table>
        <tr>
            <th> <h3>Név</h3> </th>
            <th> <h3>Birtokolt (db)</h3> </th>
        </tr>
        <tr *ngFor="let userstock of userstocks">
            <td style="padding: 5px" align="left"> <h4> {{userstock.stockname}} </h4> </td>
            <td align="right"> <h4> <b> {{userstock.amount}} </b>  </h4> </td>
        </tr>
    </table>

        <div> <h3>Felhasználható keret:</h3> 
           <h4> <b> {{currentMoney}} </b> </h4>
    </div> 
        <h3>Birtokolt részvények aktuális értéke:</h3> 
           <h4> <b> {{moneyInStocks}} </b> </h4>

    <p style="padding: 30px;" align="right"><a [routerLink]="['/login']" class="btn btn-primary">Kijelentkezés</a></p>
</div>
